$highlight-color: #F81E1E;
$highlight-color: #D32D2D;

$highlight-color-hover: scale-lightness($highlight-color, 30%);





$background-color: #5C5C5C;

$background-image: url('/assets/images/BG.png');

$font: "adelle", sans-serif;

$font-highlight: "ff-cocon-web-pro";