body
{
    padding: 20px 0;
}

.userapp .form
{
    max-width: 330px;
    margin: 0 auto;
    padding: 15px;
}
.userapp .form .form-heading
{
    margin-bottom: 20px;

    text-align: center;
}
.userapp .form .form-control
{
    font-size: 16px;

    position: relative;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: auto;
    padding: 10px;
}
.userapp .form .form-control:focus
{
    z-index: 2;
}
.userapp .form input[type='text']
{
    margin-bottom: -1px;

    border-radius: 0;
}
.userapp .form input[type='password']
{
    margin-bottom: 10px;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.userapp .form-fields input[type='text']:first-child
{
    border-top-left-radius: 4px;
    border-top-right-radius: 3px;
}

.active
{
    font-weight: bold;
}

.userapp .form .alert
{
    margin-top: 10px;
}




/* This should be used for page headings */
h1
{
    margin-top: 65px;
    margin-bottom: 33px;
}

a {
    color: #325d88;
}
a:hover, a:focus {
    color: #93A7BC;
    text-decoration: underline;
}


h1:after
{
    display: block;

    width: 100%;
    height: 1px;
    margin-top: 9px;

    content: '';

    background: rgb(55, 64, 114);
}


/* Dashboard*/
.jumbotron
{
    background: #253340 url('/assets/images/background/bg-header-1.jpg') no-repeat 50% top;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}
.jumbotron > *
{
    color: white;
}
.jumbotron a
{
    color: white;
}
.jumbotron a:hover
{
    text-decoration: underline;

    color: white;
}
.navbar-brand img
{
    max-width: 100px;
}
.green
{
    color: #14a242;
}

/* Setup header */
.navbar .nav > li > a
{
    font-family: 'myriad-pro';
    font-size: 16px;

    margin-top: 5px;

    color: white;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus
{
    text-decoration: underline;

    color: #c3c3c3;
}

.navbar .nav > li > a.active
{
    text-decoration: underline;
}

/* Fixes weird emberui bug */
.eui-input.eui-medium input,
.eui-input.eui-medium textarea,
.eui-textarea.eui-medium input,
.eui-textarea.eui-medium textarea
{
    line-height: 10px;
}


/* Froms */
.form h4
{
    /*Easier to read*/
    font-family: 'myriad-pro';
    /*Fix spacing*/

    margin-top: 37px;
    margin-bottom: -24px;

    letter-spacing: 0;
    text-transform: none;
}


/* Subscribe page */
.panel-title
{
    font-weight: bold;

    display: inline;
}
.checkbox.pull-right
{
    margin: 0;
}
.pl-ziro
{
    padding-left: 0;
}


a.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
    color: #ffffff;
    background-color: #325d88;
}



/*.eui-month .eui-day, */
.eui-month .eui-slot
{
   /* -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;*/
            width: 40px;
}
